@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --secondery-text-color: #212121;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --accent-color: #2196f3;
  --accent-hover-color: #188ce8;
  --accent-button-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --primary-background-color: #2f303a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  display: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.74;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__black {
  color: var(--logo-color);
}

.logo__white {
  color: var(--primary-white-color);
}

.top-side {
  border-bottom: 1px solid #ececec;
}

.container.header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .container.header {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.header {
  display: flex;
  align-items: center;
}

/* site nav */
.navigation-site {
  display: none;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .navigation-site {
    display: flex;
  }
}
.navigation-site .item + .item {
  margin-left: 50px;
}

.navigation-site__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 28px;
  color: var(--secondery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-site__link:hover, .navigation-site__link:focus {
  color: var(--accent-color);
}

.navigation-site__item--active {
  position: relative;
}
.navigation-site__item--active:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

/* contact-up */
.contact-up {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-up {
    display: inline-block;
  }
  .contact-up .item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-up {
    display: flex;
  }
  .contact-up .item + .item {
    margin-left: 50px;
  }
}

.contact-up__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-up__link:hover, .contact-up__link:focus {
  color: var(--accent-color);
}

.contact-up__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu__open {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu__open {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
}
.mob-menu > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 48px 40px;
  overflow: auto;
}
.mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu__close {
  position: absolute;
  right: 15px;
  top: 10px;
  border-color: transparent;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
}

.menu-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__close:focus .menu-icon, .menu__close:hover .menu-icon {
  fill: var(--accent-color);
}
.menu__open:focus .menu-icon, .menu__open:hover .menu-icon {
  fill: var(--accent-color);
}

.mob-menu-contact__item.tel {
  margin-bottom: 32px;
}
.mob-menu-contact__item.mail {
  margin-bottom: 64px;
}

.mob-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-contact__tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-social {
  display: flex;
  flex-wrap: wrap;
}

.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mob-menu-social__item:not(:first-child) {
  padding-left: 10px;
}

.navigation-site__link--current {
  color: var(--accent-color);
}

.hero {
  max-width: 480px; /*для адаптації*/
  height: 400px; /*для адаптації*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px; /*для адаптації*/
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpeg/hero-mobile-x1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--primary-background-color);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpeg/hero-mobile-x2.jpeg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpeg/hero-tables-x1.jpeg);
    max-width: 768px; /*для адаптації*/
    height: 400px; /*для адаптації*/
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpeg/hero-tables-x2.jpeg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imghero.jpg);
    max-width: 1600px; /*для адаптації*/
    height: 600px; /*для адаптації*/
    padding-top: 200px; /*для адаптації*/
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpeg/hero-desktop-x2.jpeg);
  }
}
.hero .container {
  text-align: center;
}

.hero-title {
  font-size: 21px;
  line-height: 1.6;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px; /*для адаптації*/
    line-height: 1.39; /*для адаптації*/
  }
}

.hero-button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover, .hero-button:focus {
  background-color: var(--accent-hover-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondery-text-color);
}

.feature-list {
  font-size: 14px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.feature-list__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: 270px;
  }
}
.feature-list__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-button-color);
  border-radius: 4px;
}
.feature-list__item:nth-child(1)::before {
  background-image: url(../images/sat.svg);
}
.feature-list__item:nth-child(2)::before {
  background-image: url(../images/time.svg);
}
.feature-list__item:nth-child(3)::before {
  background-image: url(../images/diagram3.svg);
}
.feature-list__item:nth-child(4)::before {
  background-image: url(../images/astronaut4.svg);
}

.feature-list__title.title {
  text-transform: uppercase;
  color: var(--secondery-text-color);
}
@media screen and (min-width: 768px) {
  .feature-list__title.title {
    text-align: left;
  }
}

.section.work {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .section.work {
    display: block;
  }
}

.work-list {
  display: flex;
}
.work-list .par {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  color: var(--primary-white-color);
  width: 100%;
  height: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.work-list .item {
  flex-basis: calc(33.3333333333% - 30px);
  position: relative;
}

.work-list .item + .item {
  margin-left: 30px;
}

.team {
  background-color: var(--accent-button-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  line-height: 1.19;
  text-align: center;
}

.title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  color: var(--secondery-text-color);
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content__par {
  margin-bottom: 16px;
}

/* socisl network buttons */
.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social__icon {
  fill: currentColor;
}

.team-content {
  padding: 30px 0px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.section-title {
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}
.clients-link > .link-icon {
  fill: currentColor;
}
.clients-link:hover, .clients-link:focus {
  color: #2196f3;
  border: 1px solid var(--accent-color);
}

.aside {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
  color: var(--primary-white-color);
}
.aside .container {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .aside .container {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .aside .container {
    flex-direction: row;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .aside .container {
    align-items: baseline;
  }
}

.aside-contact {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .aside-contact {
    margin-left: 72px;
  }
}

.aside__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-down {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contact-down__link {
  color: var(--third-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-down__link:hover, .contact-down__link:focus {
  color: var(--accent-color);
}

.contact-down__list {
  margin-top: 9px;
}

.contact-down__item:first-child {
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .aside-soc {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .aside-soc {
    margin-right: 89px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .aside-soc {
    margin-left: 70px;
  }
}

.aside-par {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .aside-subscription {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .aside-subscription {
    margin-left: auto;
  }
}
.aside-subscription .hero-button {
  display: flex;
  align-items: center;
  margin-left: 10px;
  border: 0px;
}
@media screen and (max-width: 1199px) {
  .aside-subscription .hero-button {
    margin-left: auto;
    margin-right: auto;
  }
}
.aside-subscription .hero-button::after {
  justify-content: center;
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 11px;
  background-image: url("../images/icon-send.svg");
  background-size: contain;
}

.aside-form {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .aside-form {
    flex-wrap: wrap;
  }
}

.aside-form-mail {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .aside-form-mail {
    width: 358px;
  }
}
@media screen and (max-width: 1199px) {
  .aside-form-mail {
    margin-bottom: 20px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 40px;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .menu {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-bottom: 50px;
  }
}

.menu__button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  color: var(--secondery-text-color);
  background-color: var(--accent-button-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover, .menu__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-thum {
  position: relative;
  overflow: hidden;
}

.gallery-thum__par {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.gallery .item:hover .gallery-thum__par, .gallery .item:focus .gallery-thum__par {
  transform: translateY(-100%);
}

.gallery__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.88;
  color: var(--primary-text-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover, .gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .gallery__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.gallery-meta__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondery-text-color);
}

.gallery-meta {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 100%;
  min-height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: transparent;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:focus .modal-icon, .modal-btn:hover .modal-icon {
  fill: var(--accent-color);
}

.speaker-form-par {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .speaker-form-par {
    line-height: 1.5;
  }
}

.spacer-box-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.spacer-box-input:focus {
  border-color: var(--accent-color);
}

.speacer-box {
  position: relative;
}

.speaker-modal {
  margin-bottom: 10px;
}

.speaker-modal-comment {
  margin-bottom: 20px;
}

.speacer-box-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.spacer-box-input:focus + .speacer-box-icon {
  fill: var(--accent-color);
}

.label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  color: #757575;
}

.comment-label {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-label:focus {
  border-color: var(--accent-color);
}
.comment-label::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-check {
  margin-bottom: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .form-check {
    font-size: 14px;
  }
}

.speaker-form .hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* check */
.check-input {
  appearance: none;
  position: absolute;
}

.check-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondery-text-color);
  border-radius: 4px;
  transition-property: background-color, background-image, border-color, color, outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked + .check-icon {
  background-color: var(--accent-color);
  border: transparent;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.check-input:focus + .check-icon {
  border-color: var(--accent-color);
}

.check-link {
  color: var(--accent-color);
  outline-color: transparent;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-link:focus {
  outline-color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */