.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  // margin-left: -30px;
  // margin-top: -30px;
  // .item {
  //   flex-basis: calc(100% / 3 - 30px);
  //   margin-left: 30px;
  //   margin-top: 30px;
  // }
}

.gallery-thum {
  position: relative;
  overflow: hidden;
}

.gallery-thum__par {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  .gallery .item:hover &,
  .gallery .item:focus & {
    transform: translateY(-100%);
  }
}

.gallery__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.88;
  color: var(--primary-text-color);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.gallery__item {
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.gallery-meta__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondery-text-color);
}
.gallery-meta {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
