.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 100%;
  min-height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  @include mobile {
    width: 450px;
    min-height: 609px;
  }
  @include desktop {
    width: 528px;
    min-height: 581px;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.1);
  }
}

.modal-btn {
  position: absolute;
  right: 10px;
  top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: transparent;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-btn:focus &,
  .modal-btn:hover & {
    fill: var(--accent-color);
  }
}

.speaker-form-par {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;

  color: #212121;
  @include desktop {
    line-height: 1.5;
  }
}

.spacer-box-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;

  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.speacer-box {
  position: relative;
}

.speaker-modal {
  margin-bottom: 10px;
}
.speaker-modal-comment {
  margin-bottom: 20px;
}

.speacer-box-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .spacer-box-input:focus + & {
    fill: var(--accent-color);
  }
}

.label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;

  color: #757575;
}

.comment-label {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form-check {
  margin-bottom: 30px;
  text-align: center;

  font-size: 12px;
  line-height: 1.17;
  @include desktop {
    font-size: 14px;
  }
}
.speaker-form .hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* check */
.check-input {
  appearance: none;
  position: absolute;
}
.check-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondery-text-color);
  border-radius: 4px;
  transition-property: background-color, background-image, border-color, color, outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .check-input:checked + & {
    background-color: var(--accent-color);
    border: transparent;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
  .check-input:focus + & {
    border-color: var(--accent-color);
  }
}

.check-link {
  color: var(--accent-color);
  outline-color: transparent;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline-color: var(--accent-color);
  }
}
