.feature-list {
  font-size: 14px;
  line-height: 1.7;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.feature-list__item {
  width: 100%;
  margin-bottom: 30px;

  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
  &::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;

    background-color: var(--accent-button-color);
    border-radius: 4px;
  }
  &:nth-child(1)::before {
    background-image: url(../images/sat.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../images/time.svg);
  }

  &:nth-child(3)::before {
    background-image: url(../images/diagram3.svg);
  }

  &:nth-child(4)::before {
    background-image: url(../images/astronaut4.svg);
  }
}

// .feature-list__item + .feature-list__item {
//   // margin-left: 30px;
// }

.feature-list__title.title {
  text-transform: uppercase;
  color: var(--secondery-text-color);
  @include tablet {
    text-align: left;
  }
}
