.aside {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
  color: var(--primary-white-color);
  .container {
    display: flex;
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
    }
    @include tablet {
      flex-direction: row;
      align-items: baseline;
    }

    @include desktop {
      align-items: baseline;
    }
  }
}

.aside-contact {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @include tablet {
    margin-left: 76px;
  }
}

.aside__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-down {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contact-down__link {
  color: var(--third-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-down__list {
  margin-top: 9px;
}
.contact-down__item:first-child {
  margin-bottom: 9px;
}

.aside-soc {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @include tablet {
    margin-right: 89px;
    margin-left: auto;
  }
  @include desktop {
    margin-left: 70px;
  }
}

.aside-par {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.aside-subscription {
  @include tablet {
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    margin-left: auto;
  }

  .hero-button {
    display: flex;
    align-items: center;
    margin-left: 10px;
    border: 0px;
    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .hero-button::after {
    justify-content: center;
    content: '';
    width: 24px;
    height: 24px;
    margin-left: 11px;

    background-image: url('../images/icon-send.svg');
    background-size: contain;
  }
}
.aside-form {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.aside-form-mail {
  @include desktop {
    width: 358px;
  }
  width: 100%;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}
