.hero {
  max-width: 480px; /*для адаптації*/
  height: 400px; /*для адаптації*/
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/imghero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 118px; /*для адаптації*/
  padding-bottom: 118px; /*для адаптації*/

  background-color: var(--primary-background-color);

  @include tablet {
    max-width: 768px; /*для адаптації*/
    height: 400px; /*для адаптації*/
  }
  @include desktop {
    max-width: 1600px; /*для адаптації*/
    height: 600px; /*для адаптації*/
  }

  .container {
    text-align: center;
  }
}

.hero-title {
  font-size: 21px;
  line-height: 1.62;
  font-weight: 900;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  @include mobile {
    font-size: 26px;
  }

  @include desktop {
    font-size: 44px; /*для адаптації*/
    line-height: 1.39; /*для адаптації*/
  }
}
